<!--<mat-toolbar>-->
<!--  <mat-toolbar-row>-->
<!--    <span></span>-->
<!--  </mat-toolbar-row>-->

  <!--<mat-toolbar-row id="tabs-row">-->
      <mat-tab-group id="tabs-group">
        <mat-tab label="Entwurf">
          <div id='content'>
            <app-entwurf></app-entwurf>
          </div>
        </mat-tab>
        
        <mat-tab label="Tab 2">Digiatlisierung</mat-tab>
        
        <mat-tab label="Tab 3">Konfigurator</mat-tab>
      </mat-tab-group>
  <!--</mat-toolbar-row>-->

<!--</mat-toolbar>-->
