<!--Hier sind die 3 Tabs in denen die Komponenten für Entwurf, Digitalisierung und Konfigurator rein kommen-->
<!--Komponente für Entwurf ist drinnen-->
      <mat-tab-group id="tabs-group">
        <mat-tab label="Entwurf">
          <div id='content'>
            <app-entwurf></app-entwurf>
          </div>
        </mat-tab>
        
        <mat-tab label="Digiatlisierung">Digiatlisierung</mat-tab>
        
        <mat-tab label="Konfigurator">Konfigurator</mat-tab>
      </mat-tab-group>

